@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Acesso Negado!";
}

<h1 class="text-danger">Ops! Você não pode fazer isso :(</h1>
<h2 class="text-danger">Verifique suas permissões com o Administrador.</h2>

